@using GST.Web.ViewModels.PagesViewModel
@using System.Text
@model AdministrationPageViewModel

@{ 
    string message = (string)ViewData["message"];
}

<a asp-controller="AdministrationArea" asp-action="Index">&laquo; Back</a>
<h2>Static Page Editor</h2>

@section Scripts {
    <script>tinymce.init({ selector:'textarea' });</script>
}

<div class="container">
    <ul class="nav nav-tabs">
        @foreach (var name in Model.PageNames)
        {
            if (Model.Name == name)
            {
                <li class="active"><a asp-action="EditStaticPages" asp-route-pageName="@name" asp-controller="AdministrationArea">@name</a></li>
            }
            else
            {
                <li><a asp-action="EditStaticPages" asp-route-pageName="@name" asp-controller="AdministrationArea">@name</a></li>
            }
        }
    </ul>
    <br />

    <div class="container">
        @if (!string.IsNullOrWhiteSpace(message) || !string.IsNullOrEmpty(message))
        {
            <p class="text-danger">@message</p>
        }
        <form asp-controller="AdministrationArea" asp-action="EditStaticPages" method="post">
            <div class="container">
                <h2>@Model.Name</h2>
                <button type="submit" class="btn-primary btn-lg">Save</button>
            </div>
            <hr />
            <div class="container">
                <textarea name="Content" rows="20" cols="120">@Model.Content</textarea>
                <input type="hidden" name="PageName" value="@Model.Name" />
            </div>
            @{
                StringBuilder sb = new StringBuilder();
                sb.Append(string.Format("Created on {0}, ", Model.CreatedOn.ToString()));
                if (Model.ModifiedOn != null)
                {
                    sb.Append(string.Format("modified on {0} ", Model.ModifiedOn.ToString()));
                }
                sb.Append(string.Format("posted by {0}", "[user]"));

                string finalMessage = sb.ToString();
            }
            <br />
            <em><strong>@finalMessage</strong></em> 
        </form>
    </div>
</div>