@using GST.Web.ViewModels.LogsViewModels
@model List<LogsViewModel>
@{
    ViewData["Title"] = "Logs";
    int count = 0;
}
@Html.Partial("_BackOptionPartial")

<div class="container">
    <h2>Logs</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Content</th>
                <th>Created On</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model)
            {
                <tr>
                    <td>@log.Id</td>
                    <td>@log.Category</td>
                    <td>@log.Content</td>
                    <td>@log.CreatedOn</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@await Component.InvokeAsync("PageNavigation", new { currentPage = ViewBag.CurrentPage, totalLinksToDisplay = ViewBag.TotalLinksToDisplay, redirectActionName = "ListLogs", controllerName = "AdministrationArea" })