@using GST.Web.ViewModels.PicturesViewModels
@using GST.Web.Common
@model List<PicturesViewModel>


<nav aria-label="Page navigation">
    <ul class="pagination">
        @if (ViewBag.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-action="PaginationTest" asp-controller="Home" asp-route-p="@(ViewBag.CurrentPage-1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        }
        @{
            for (int i = 1; i <= ViewBag.TotalLinksToDisplay; i++)
            {
                if (ViewBag.CurrentPage == i)
                {
                    <li class="page-item active">@Html.ActionLink(@i.ToString(), "PaginationTest", "Home", new { p = @i }, new { @class = "page-link" })</li>
                }
                else
                {
                    <li class="page-item">@Html.ActionLink(@i.ToString(), "PaginationTest", "Home", new { p = @i }, new { @class = "page-link" })</li>
                }
                }
            }
        @if (ViewBag.CurrentPage < ViewBag.TotalLinksToDisplay)
        {
            <li class="page-item">
                <a class="page-link" asp-action="PaginationTest" asp-controller="Home" asp-route-p="@(ViewBag.CurrentPage+1)"  aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        }
    </ul>
</nav>
@ViewBag.TotalLinksToDisplay