@using GST.Web.ViewModels.VideosViewModels;
@model List<VideosViewModel>
@{
    ViewData["Title"] = "Media | Videos";
}
<h4 class="content-header">List of all videos</h4>

<div class="container">
    @if (Model.Count == 0)
    {
        <h3>No videos.</h3>
    }
    else
    {
        @:<div class="row">
        int count = 0;
        int totalSize = Model.Count;
        foreach (var video in Model)
        {
            <div class="col-md-4">
                <div class="container">
                    <iframe width="315" height="315" src="@video.VideoUrl" frameborder="0"></iframe>
                </div>
            </div>
            count++;
            totalSize--;
            if (count % 3 == 0)
            {
                if (totalSize > 0)
                {
                    @:</div><br /><div class="row">
                }
                else
                {
                    @:</div>
                }
            }
        }
    }
</div>
<nav aria-label="Page navigation">
    <ul class="pagination">
        @if (ViewBag.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Videos" asp-controller="Home" asp-route-p="@(ViewBag.CurrentPage-1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        }
        @{
            for (int i = 1; i <= ViewBag.TotalLinksToDisplay; i++)
            {
                if (ViewBag.CurrentPage == i)
                {
                    <li class="page-item active">@Html.ActionLink(@i.ToString(), "Videos", "Home", new { p = @i }, new { @class = "page-link" })</li>
                }
                else
                {
                    <li class="page-item">@Html.ActionLink(@i.ToString(), "Videos", "Home", new { p = @i }, new { @class = "page-link" })</li>
                }
            }
        }
        @if (ViewBag.CurrentPage < ViewBag.TotalLinksToDisplay)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Videos" asp-controller="Home" asp-route-p="@(ViewBag.CurrentPage+1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        }
    </ul>
</nav>

<!--<iframe width="315" height="315" src="https://www.youtube.com/embed/6N2wY-YCvVM" frameborder="0" allowfullscreen></iframe>-->