<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Game Site Tracker</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://bootswatch.com/cyborg/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body id="background">
    <!-- HEADER START -->
    <div class="navbar navbar-default navbar-color">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("[Game Name]", "Index", "Home", null, new { @class = "navbar-brand"})
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gallery <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Pictures</a></li>
                            <li><a href="#">Videos</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Progress</a></li>
                    <li><a href="#">Downloads</a></li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <!-- HEADER END -->
    <!-- MAIN SECTION START -->
    <div class="container" id="main-section" style="padding-top: 100px">
        <div class="row">
            <div class="col-md-3 transparent-bg" id="side-section">
                <center>
                    @await Component.InvokeAsync("ProjectInfo")
                </center>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-8 transparent-bg text-color" id="main-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- MAIN SECTION END -->
    <!-- FOOTER START -->
    <div class="footer">
        <p>[Company Name] All rights reserved. Copyrights &copy; 2016</p>
        <p>Website developed by Mihail Uzunov (kyojin96).</p>
    </div>
    <!-- FOOTER END -->
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>