@{ 
    int currentPage = (int)ViewData["currentPage"];
    int totalLinksToDisplay = (int)ViewData["totalLinksToDisplay"];
    string redirectActionName = (string)ViewData["redirectActionName"];
    string controllerName = (string)ViewData["controllerName"];
}

<nav aria-label="Page navigation">
    <ul class="pagination">
        @if (currentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-action="@redirectActionName" asp-controller="@controllerName" asp-route-p="@(currentPage-1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        }
        @{
            for (int i = 1; i <= totalLinksToDisplay; i++)
            {
                if (currentPage == i)
                {
                    <li class="page-item active">@Html.ActionLink(@i.ToString(), redirectActionName, controllerName, new { p = @i }, new { @class = "page-link" })</li>
                }
                else
                {
                    <li class="page-item">@Html.ActionLink(@i.ToString(), redirectActionName, controllerName, new { p = @i }, new { @class = "page-link" })</li>
                }
            }
        }
        @if (currentPage < totalLinksToDisplay)
        {
            <li class="page-item">
                <a class="page-link" asp-action="@redirectActionName" asp-controller="@controllerName" asp-route-p="@(currentPage+1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        }
    </ul>
</nav>